.container {
    max-width: 600px;
    margin: 0 auto;
}

.form {
    border: 2px solid rgb(255, 255, 255);
    background-color: rgb(122, 122, 122);
    border-radius: 10px;
    padding: 10px;
    position: relative;
    text-align: left;
}

